@model Infracciones.Dto.Fraccion

@{
    ViewBag.Title = "Borrar fracción";
}

<div class="container">
    <h2>Delete</h2>

    <h3>¿Está seguro de borrar?</h3>
    <div>
        <h4>Fraccion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArticuloId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArticuloId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActivo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioIdAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioIdAlta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UsuarioIdBaja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioIdBaja)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaDeRegistro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaDeRegistro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaDeBaja)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaDeBaja)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("Regresar a la lista", $"Details/{Model.ArticuloId}", "Articulo")
            </div>
        }
    </div>
</div>